{
  "where": [
    ["id", "=", ${MC_MAIL_SETTINGS_ID}]
  ],
  "values": {
    "name": "${MC_IMAP_NAME}",
    "server": "${MC_IMAP_SERVER}",
    "username": "${MC_IMAP_USERNAME}",
    "password": "${MC_IMAP_PASSWORD}",
    "localpart": null,
    "domain": "${MC_MAIL_DOMAIN}",
    "protocol:name": "IMAP",
    "source": "from",
    "is_default": true,
    "is_ssl": false,
    "is_non_case_email_skipped": false,
    "is_contact_creation_disabled_if_no_match": false,
    "activity_status": "Completed"
  }
}