{
  "where": [
    ["id", "=", 1]
  ],
  "values": {
    "display_name": "${SITE_FROM_DISPLAY_NAME}",
    "email": "${SITE_FROM_MAIL}",
    "description": "Default domain email address and from name.",
    "is_active": true,
    "is_default": true
  }
}